@import "../../styles/variable";
@import "../../styles/mixin";

.btn-primary {
  background-image: $color-gardient;
  color: $color-black;
  border: 2px solid $color-white;
  border-radius: 999px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-basic {
  background-color: transparent;
  color: $color-white;
  border: 2px solid $color-white;
  border-radius: 999px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-square {
  padding: 1px 2px;
  width: 100%;
  height: 48px;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-rounded {
  padding: 1px 2px;
  width: 60px;
  height: 60px;
  border-radius: 999px;
  font-size: 1.6rem;
  font-weight: 600;
}
