@import "../../styles/variable";
@import "../../styles/mixin";
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  width: 100%;
  top: 0;
  z-index: 10;
  position: fixed;

  @include respond(phone) {
    height: 80px;
    padding: 1rem 2rem;
  }
  .navbar__img {
    display: flex;
    align-items: center;
    gap: 1rem;

    .navbar__img-logo {
      width: 80%;
      @include respond(desktop) {
        width: 40%;
      }
      @include respond(tab-land) {
        width: 30%;
      }
      @include respond(tab-port) {
        width: 30%;
      }
      @include respond(phone) {
        width: 30%;
      }
    }
    .navbar__img-hydra {
      width: 100%;
      @include respond(desktop) {
        width: 40%;
      }
      @include respond(tab-land) {
        width: 30%;
      }
      @include respond(tab-port) {
        width: 30%;
      }
      @include respond(phone) {
        width: 20%;
      }
    }
  }
  .navbar__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @include respond(phone) {
      display: none;
    }
    a {
      font-size: 1.2rem;
      font-weight: 600;
      text-transform: uppercase;
      padding: 0.5rem 1rem;
      color: $color-white;
    }
  }
  .navbar__btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    @include respond(phone) {
      display: none;
    }
    .navbar__btn-block {
      display: flex;
      justify-content: stretch;
      align-items: stretch;
      min-width: 120px;
      @include respond(big-desktop) {
        min-width: 200px;
      }
    }
  }
  .navbar__menu {
    display: none;
    @include respond(phone) {
      display: flex;
    }

    .navbar__menu_icons {
      color: $color-gardient;
      font-size: 1.6rem;
    }
    .navbar__menu-container {
      .navbar__menu-items {
        position: absolute;
        min-width: 50%;
        min-height: 50%;
        display: flex;
        padding: 6rem 2rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        top: 80px;
        right: 0;
        background-color: $color-black;
      }
      a {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        color: $color-white;
      }
    }
  }
}

.navbar--active {
  background: $color-gardient;
}
